<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Usuarios</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container mt-4 mb-5">
    <h2>Lista de Usuarios</h2>
    <div *ngIf="loading" class="alert alert-info">Cargando...</div>
    <div *ngIf="!loading">
      <div class="card mb-3" *ngFor="let user of users">
        <div class="card-body">
          <h5 class="card-title">{{ user.name }}</h5>
          <p class="card-text"><strong>Email:</strong> {{ user.email }}</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>